##############################
## Folders                  ##
##############################
bin
obj
.vs
 
##############################
## Netbeans conf            ##
##############################
